<ul>
  <% commentable.comments.each do |comment| %>
    <li>
      <strong><%= Comment.human_attribute_name(:body) %>:</strong>
      <%= comment.body %>

      <% if comment.user.name.empty? %>
        <strong><%= Comment.human_attribute_name(:email) %>:</strong>
        <%= comment.user.email %>
      <% else %>
        <strong><%= Comment.human_attribute_name(:name) %>:</strong>
        <%= comment.user.name %>
      <% end %>

      <strong><%= Comment.human_attribute_name(:created) %>:</strong>
      <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
    </li>
  <% end %>
</ul>
