<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<p>
  <%= link_to User.human_attribute_name(:followings) + ":#{@user.followings.count}", followings_user_path(@user) %> |
  <%= link_to User.human_attribute_name(:followers)  + ":#{@user.followers.count}", followers_user_path(@user) %>
</p>

<% unless @user == current_user %>
  <% if current_user.following?(@user) %>
    <%= button_to t('unfollow'), relationship_path(params[:id]), method: :delete %>
  <% else %>
    <%= form_with(model: current_user.passive_relationships.build, local: true) do |f| %>
      <%= hidden_field_tag :followed_id, @user.id %>
      <%= f.submit t('follow') %>
    <% end %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
